<p id="notice"><%= notice %></p>
<h1>Editing Team
  <%= button_tag 'Save', type: :submit, class: "btn btn-primary ml-3 px-3 float-right", data: { disable_with: "Save" }, form: "edit_team_#{@team.id}" %>
  <%= link_to 'Back', teams_path, class: 'btn btn-info float-right px-3' %>
  <%# f.button :submit, "Save",  class: 'btn btn-primary float-right', style: "margin-bottom: 100px;" %>
</h1>
<hr />

<%= render 'form', team: @team %>
