.intro-coddle {
  &.partners {
  }
  &.people {
    padding-bottom: 0;
  }
}
.about {
  .clients {
    margin-bottom: 50px
  }
}
.person {
  text-align: left;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  &:not(:last-of-type) {
    border-bottom: 1px dotted $dark-pink;
  }
  h3 {
    color: $pink;
  }
  h4 {
    color: #696969;
    font-size: 22px;
  }
  img {
    box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.5);
  }
}
