.intro-coddle {
  &.partners {
  }
  &.people {
    padding-bottom: 0;
  }
  .team-photo {
    img {
      border-radius: 100px;
      margin: 60px auto 0 auto;
      max-width: 540px;
    }
  }
}
.about {
  .clients {
    margin-bottom: 50px
  }
}
.person {
  text-align: left;
  // max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  &:not(:last-of-type) {
    border-bottom: 1px dotted $dark-pink;
  }
  h3 {
    color: $pink;
    margin-bottom: 10px;
    line-height: 100%;
  }
  h4 {
    color: #696969;
    font-size: 22px;
  }
  img {
    box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.5);
  }
  p {
    margin-bottom: 0;
  }
}

a.read-more {
  color: $pink !important;
  display: block;
  cursor: pointer;
}

.expand-text {
  display: none;
}
