.inner {
  background: asset-url('bg/splatterbackground.jpg') no-repeat center center;

}
.paint-canvas {
  // background: $pink;
  background-size: cover;
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  max-width: 600px;
  h2, p {
    color: #fff;
  }
  p {
    font-size: 18px;
  }
}

#mouse-message {
  display: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
}

.side-content {
  h3 {
    color: #ce2cc9;
    -webkit-text-fill-color: initial;
  }
}

.main-features {
  background: $pink;
  .title-bg {
    opacity: 0.5;
  }
  .titles {
    margin-bottom: 20px;
  }
  .feature-box {
    background: #fff;
    min-height: 350px;
    h5 {
      color: $pink;
      text-transform: uppercase;
    }
    p, ul li a {
      color: black;
    }
    figure {
      height: auto;
      img {
        width: 80px;
      }
    }
    .more-link:after {
      border-color: transparent transparent #E77EE2 transparent;
    }
  }
}
