.inner {
  background: asset-url('bg/landing-bg-3-rotate.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.paint-canvas {
  // background: $pink;
  background-size: cover;
  position: relative;
  max-width: 100%;
}

.text-overlay {
  position: absolute;
  top: 52%;
  left: 50px;
  transform: translateY(-50%);
  max-width: 600px;
  h2 {
    letter-spacing: 3px;
    font-size: 52px;
  }
  h2, p {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
  p {
    font-size: 18px;
  }
}

#mouse-message {
  display: none;
  font-size: 16px;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
}

.index {
  .main-features {
    background: asset-url('bg/services-bg-1.jpg') center center no-repeat;
    background-size: cover;
  }
}
.main-features {

  background: #fff;
  padding-top: 50px;
  .titles {
    margin-bottom: 20px;
    .title-bg {
      background-image: asset-url('bg/title-bg.png');
    }
  }
  .feature-box {
    @include purple-gradient;
    min-height: 350px;
    padding: 50px 38px 40px;
    h5 {
      color: $pink;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 25px;
    }
    p, ul, li, a {
      color: black;
      font-size: 16px;
      text-align: left;
    }
    figure {
      height: auto;
    }
  }
}

.more-link:after {
  border-color: transparent transparent #E77EE2 transparent !important;
}

.recent-works {
  padding: 50px 0 100px;
  float: none;
  .works-filter {
    li {
      a {
        &.current {
          color: $dark-pink;
        }
      }
    }
  }
}

.clients {
  padding: 50px 0 75px;
  float: none;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      height: 125px;
      width: 20%;
      display: inline-grid;
      padding: 15px;
      a {
        display: contents;
      }
      img {
        max-height: 100%;
        margin: auto;
        max-width: 130px;
      }
    }
  }
}

.quote-bar {
  background: asset-url('bg/landing-bg-3-rotate.jpg') top center no-repeat;
  background-size: cover;
  h4 {
    font-size: 39px;
  }
  p {
    font-size: 18px;
    margin-top: 20px;
  }
}

.recent-news .news-box .news-content {
   a {
    color: $pink !important;
    &:before, &:after {
      background: $pink;
    }
  }
  h3 {
    background: linear-gradient(135deg, $pink 0%, $dark-pink 100%);
    -webkit-background-clip: text;
  }
}

@media screen and (max-width: 768px) {
  .clients {
    ul li {
      width: 33%;
      img {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .text-overlay {
    left: 20px;
    top: 54%;
    max-width: calc(100vw - 40px);
    h2 {
      letter-spacing: 2px;
      font-size: 46px;
    }
    p {
      font-size: 20px;
    }
  }
  .inner {
    background-position: left top;
  }
  .side-image-content {
    padding: 30px 0 100px;
  }
  .main-features {
    .feature-box {
      width: calc(100% - 10px);
      margin: 0 auto 50px auto;
    }
  }
  .recent-works {
    .works-grid {
      min-height: 600px;
      li {
        width: 100% !important;
      }
      .coddle__box__description {
        font-size: 16px;
      }
      .coddle__box__caption {
        padding-top: 50px;
      }
      .coddle__box__title {
        font-size: 29px;
        padding: 0 20px;
      }
    }
  }
}
