.paint-canvas {
  // background: $pink;
  background: asset-url('bg/splatterbackground.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  max-width: 600px;
  h2, p {
    color: #fff;
  }
  p {
    font-size: 18px;
  }
}

#mouse-message {
  display: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
}

.side-content {
  h3 {
    color: #ce2cc9;
    -webkit-text-fill-color: initial;
  }
}
