.portfolio, .portfolio_protected {
  .recent-works {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .recent-works {
    .works-grid {
      float: none;
      li {
       width: 50%;
      }
      &.spaced {
        li {
          padding-bottom: 30px;
          &:nth-child(odd) {
            padding-left: 30px;
            padding-right: 15px;
          }
          &:nth-child(even) {
            padding-right: 30px;
            padding-left: 15px;
          }
        }
      }
    }
  }
}

.coddle__box__title {
  font-size: 32px;
  padding: 0 50px;
  font-family: 'Oswald', sans-serif;

}
.coddle__box__description {
  color: $lightest-pink;
  text-transform: uppercase;
  font-size: 18px;
}

.coddle__box__caption {
  padding-top: 25%;
}

.coddle__box__figure {
  &:hover {
    .thumb-img:before {
      content: '';
      background: rgba(0,0,0,0.6);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .thumb-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
  }
}
.private-item {
  .idea-btn {
    margin-top: 20px;
    &:hover {
      color: #000 !important;
    }

  }
  .coddle__box__caption {
    padding-top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
    padding-top: 50px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    .title {
      padding-bottom: 0;
      margin-top: -35px;

    }
    .portfolio-images {
      margin-top: 20px;
      height: 300px;
      img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
    .text-box {
      margin-bottom: 30px;
      &.no-border-left {
        border-left: 1px solid $lightest-pink;
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .recent-works {
    .works-grid {
      li {
        margin-bottom: 20px;
      }
      .coddle__box__figure {
        .thumb-img {
          height: 300px;
        }
      }
    }
  }
}
