.portfolio {
  .page-title {
    p {
      // max-width: 765px;
    }
  }
}

.recent-works {
  .works-grid {
    float: none;
    li {
     width: 50%;
    }
    &.spaced {
      li {
        padding: 15px;
      }
    }
  }
}

.coddle__box__title {
  font-size: 32px;
  padding: 0 50px;
  font-family: 'Oswald', sans-serif;

}
.coddle__box__description {
  color: $lightest-pink;
  text-transform: uppercase;
  font-size: 18px;
}

.coddle__box__caption {
  padding-top: 20%;
}

.private-item {
  .coddle__box__figure:hover {
    .coddle__box__image {
      filter: brightness(0.2);
      -webkit-filter: brightness(0.2);
    }
 }
}
.private-item {
  .idea-btn {
    margin-top: 20px;
    &:hover {
      color: #000 !important;
    }

  }
}

@media screen and (max-width: 768px) {
  .portfolio-item {
    padding-top: 50px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    .title {
      padding-bottom: 0;
      margin-top: -35px;

    }
    .portfolio-images {
      margin-top: 20px;
      height: 300px;
      img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
    .text-box {
      margin-bottom: 30px;
      &.no-border-left {
        border-left: 1px solid $lightest-pink;
      }
    }
  }

}
