.page-summary {
  padding: 50px 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
}
.feature-box {
    .expand-text {
      display: none;
      width: 100%;
    }
    h5 {
        font-size: 20px;
        color: $pink;
        margin-top: 17px;
    }
  }
  .page-title {
    h2 {
      margin-bottom: 20px;
    }
  }
.services-wrapper {
  padding: 50px 0;
  // background: asset-url('bg/services-bg-1.jpg') center center no-repeat;
  // background-size: cover;
  .services-box {
    h5 {
      font-size: 15px !important;
    }
  }
}
