.services {
  .service-box {
    // @include purple-gradient;
    background: asset-url('bg/services-bg-2.jpg') center center no-repeat;
    background-size: cover;
    // background-color: $pink;
    // color: #000;
    img {
      // background-color: $pink;
    }
      figure {
        display: inline-block;
      }
    p {
      display: inline-block;
      max-width: 390px;
    }
    .expand-text {
      padding-left: 100px;
      ul {
        padding-left: 20px;
      }
    }
  }
  .page-title {
    p {
      max-width: 590px;
    }
  }
}
.services-wrapper {
  padding: 50px 0;
  // background: asset-url('bg/services-bg-1.jpg') center center no-repeat;
  // background-size: cover;
  .services-box {
    h5 {
      font-size: 15px !important;
    }
  }
}
