<div class="page-title">
  <h2>BLOG</h2>
</div>
<section class="page-info">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /><br /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>

<div class="container blog-grid">
  <div class="row">
    <% 10.times do %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="/blog/1">
        <div class="card">
          <div class="card-img-top" style="background-image: url(<%= asset_url('home/chef-dave.jpg') %>)"></div>
          <div class="card-body">
            <h4 class="card-title">Article Title</h4>
            <p class="meta"><small>02 Aug 2018 | Lauren Kashuk</small></p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn idea-btn pink">View Blog Post</a>
          </div>
        </div>
      </a>
    </div>
      <% end %>
  </div>
</div>
