
<div class="inner">
<canvas id='canvas' class="paint-canvas"></canvas>
    <div id="mouse-message" style="position: absolute; color: white;">
       Click to paint
    </div>
<div class="text-overlay">
    <h2>YOUR IDEA LIASIONS</h2>
    <!-- <p>
      Pron: eye-dee-azon
    </p> -->
    <p>We bring compelling ideas to life by connecting people together.</p>
    <a href="#" class="ghost-btn">
    <svg>
      <defs>
        <linearGradient>
          <stop offset="0%" stop-color="#FF8282"/>
          <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
      </defs>
      <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="#ffffff"></rect>
    </svg>
    <span>Discover Now</span> </a>
  </div>

</div>


<!-- end inner -->
