
<div class="inner">
<canvas id='canvas' class="paint-canvas"></canvas>
    <div id="mouse-message" style="position: absolute; color: white;">
       Click to paint
    </div>
<div class="text-overlay">
    <h2>YOUR IDEA LIASIONS</h2>
    <!-- <p>
      Pron: eye-dee-azon
    </p> -->
    <p>We bring compelling ideas to life by connecting people together.</p>
    <a href="#" class="cta-btn hvr-radial-out">Learn More</a>

  </div>

</div>


<!-- end inner -->
