<div class="page-title">
  <h2>OUR WORK</h2>
  <!-- <p>Interactive digital experiences are continually</p> -->
  <p>
    We work mostly for folks in media, PR, production, marketing, talent management, and social media.<br />But specific job titles aren’t what we’re after. We’re looking for people who are:
    <br />
    <br />
      - Feelin’ gooood about the potential in their project
      <br />
      - Willing to roll up their proverbial sleeves and be a part of the creative process
      <br />
      - Dedicated to making a real impact on people
      <br />
      - Down to have some fun along the way
    </p>


</div>


<%= render 'shared/portfolio-grid' %>
