<div class="page-title">
  <h2>OUR WORK</h2>


</div>

<div class="page-info">
  <!-- <p>Interactive digital experiences are continually</p> -->
  <p>
    We work mostly for folks in production, talent management, label relations, marketing, and event planning… or those who just have too much on their plate.</p>
    <p>
      But specific job titles aren’t what we’re after. We’re looking for people who are feelin’ gooood about<br class="hidden-xs"/> the potential in their project, willing to roll up their proverbial sleeves and be a part of the creative process, dedicated to making a real impact on people and down to have some fun along the way.
    </p>
  </div>

<%= render 'shared/portfolio-grid' %>
<%= render 'shared/partners' %>
