<div class="page-title">
  <h2>WHAT WE DO</h2>

</div>
<div class="page-info">
  <p>
    We concept, create and execute contextual, original events, as an experience.
    <br />
    We strive to create deep brand relationships to stimulate emotions. 85% of consumers are more likely to purchase a product or service after attending a live marketing event. (<a class="small" href="https://www.eventmarketer.com/wp-content/uploads/2018/06/eventtrack2018execsumm.pdf" target="_blank">EventTrack 2018</a>)
    <br />
    <br />
    To break it down, we help clients integrate into the tangible and analog world that surrounds us. For each universe, regardless of the planet, the genetic makeup always starts with the same two ingredients: good ideas and good people.
  </p>
</div>


<section class="services-wrapper main-features">
  <div class="container">
    <div class="row">

      <%= render 'shared/services_boxes' %>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<%= render 'shared/testimonials_carousel' %>
