<div class="page-title">
  <h2>WHAT WE DO</h2>
    <p>
      Our specific solutions are custom, but our general approach and philosophy applies across the board.
        <br />
        <br />
      We create universes. Regardless of the planet, the genetic makeup These start always starts with the same two ingredients: good ideas and good people.
    </p>
</div>


<section class="services-wrapper main-features">
  <div class="container">
    <div class="row">

    <%= render 'shared/services_boxes' %>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
