.about {
  .page-title {
    background: asset-url('bg/singer-microphone.jpg') 0 -18px no-repeat;
    p {
      max-width: 700px;
    }
  }
}
.services {
  .page-title {
    background: asset-url('bg/person-dust.jpg') center center no-repeat;
  }
}
.portfolio {
  .page-title {
    background: asset-url('bg/our-work.jpg') center -50px no-repeat;
  }
}

.visitors .page-title {
  background-size: cover;
  padding: 150px 0 60px;
}

.page-info {
  padding: 50px 0 0;
  text-align: center;
  // background-color: rgba(95,0,91,1);
  .text-wrapper {
    max-width: 800px;
    margin: -100px auto 0;
    padding: 30px;
    // background-color: rgba(231,126,226,0.5);;

  }
  p {
    color: #000;
    font-size: 18px;
  }
}
