.idea-btn {
  padding: 15px 0px;
  background-color: transparent;
  border-radius: 100px;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  @include btn-transition;
  border: 2px solid #fff;
  letter-spacing: 0.5px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: #fff;
    color: $pink;
  }
  &.pink {
    border-color: $pink;
    color: $pink;
    &:hover {
      background-color: $pink;
      color: #fff;
    }
  }
}

//overrides
a:not([href]):not([tabindex]) {
  color: #fff;
}
