.contact-modal {
  background: rgba(153,0,146, 0.95);
  background: asset-url('bg/person-far.jpg') bottom center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  .close-icon {
    top: 30px;
    right: 120px;
    height: 30px;
  }
  .form-wrapper {
      position: absolute;
      max-width: 1000px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        color: #fff;
        font-size: 45px;
        text-align: center;
      }
      label:not(.error) {
        color: #fff;
        font-size: 22px;
        opacity: 0;
      }
      label.error {
        color: red;
        font-size: 16px;
        display:block;
      }
      input, textarea {
        background: transparent;;
        color: #fff;
        border-width: 2px;
        font-size: 22px;
        &:focus {
          border: $pink;
          box-shadow: 0 0 0 0.2rem rgba(231,126,226, 1)
        }
      }
      .form-control, button {
        height: 60px;
        font-family: 'Open Sans', sans-serif;
      }
      textarea.form-control {
        height: auto;
      }
      button {
        background: #fff;
        color: $dark-pink;
        width: 100%;
        margin-top: 20px;
        border: 3px solid #fff;
        @include btn-transition;
        font-size: 22px;
        cursor: pointer;
        font-weight: 400;
        border-radius:0.25rem;
        svg {
          height: 20px;
          fill: $dark-pink;
          margin-left: 10px;
          @include btn-transition;
        }
        &:hover, &:focus {
          color: #fff;
          background: transparent;
          svg {
            fill: #fff;
          }
        }

      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #fff;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }
      *:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
      *:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
      *:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
      *:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
      *:focus::placeholder { opacity: 0; } /* Modern Browsers */
  }
}

@media screen and (max-width: 767px) {
  .contact-modal {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    .form-wrapper {
      min-width: 90%;
    }
    .close-icon {
      top: 20px;
      right: 20px;
    }
    .form-wrapper {
      h1 {
        font-size: 38px;
      }
      input, textarea {
        font-size: 16px;
        &:focus {
          border: 1px solid #eee;
        }
      }
      .form-control {
        height: 50px;
      }
      label:not(.error) {
        font-size: 16px;
      }
      label {
        margin-bottom: 0;
      }
    }
  }
}
