h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
}
h2 {
  font-size: 38px;
}
p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

.titles h3 {
  font-size: 45px;
  letter-spacing: 1px;
  color: $pink;
  -webkit-text-fill-color: initial;
}

p {
  font-size: 16px;
}

// .preloader {
//   // background: asset-url('bg/preloader-bg.jpg') center center no-repeat;
//   background-size: cover;
//   background-color: $pink;
//   .spinner {
//     .path {
//       stroke: #fff;
//     }
//   }
// }

#preloader, .transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-pink;
    z-index: 999999;
    img {
      height: 90px;
      position: absolute;
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
      left: 46%;
      top: 44%;
    }
}
.transition-overlay {
  background: $pink;
}


.cta-btn {
  padding: 15px 0px;
  background-color: transparent;
  border-radius: 22px;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  @include btn-transition;
  border: 2px solid #fff;
  letter-spacing: 0.5px;
  margin-top: 30px;
  display: inline-block;
  &:hover {
    color: $pink;
    background: #fff;
    text-decoration: none;
  }
}
.titles {
  .title-bg {
    background-image: asset-url('paint/title-bg.png');
  }
}

.page-title {
  background-color: $dark-pink;
  text-align:center;
  padding: 125px 0 50px;
  h2, h6 {
    color: #fff;
  }
  h2 {
    font-size: 42px;
    font-weight: bold;
  }
  h6 {
    font-size: 16px;
  }
}

.icon-check {
  height: 13px;
  margin-right: 15px;
}

.relative {
  position: relative;
}
