h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 38px;
}
p, a, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

h3 small {
  font-size: 70%;
}

.titles h3 {
  font-size: 45px;
  letter-spacing: 1px;
  color: $pink;
  -webkit-text-fill-color: initial;
  font-weight: 400;
}
.alert.alert-success, #notice  {
    background-color: rgba(255,255,255, 0.8);
    border: none;
    text-align: center;
    color: $dark-pink;
    top: 83px;
    line-height: 100%;
    padding: 20px 0;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;
}

body.hide-overflow {
  overflow: hidden !important;
}

#preloader, .transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#fff, $lightest-pink, $dark-pink);
    // background-color: $dark-pink;
    z-index: 999999;
    img {
      height: 90px;
      position: absolute;
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
      left: 46%;
      top: 44%;
    }
}
.transition-overlay {
  background: $pink;
}


.cta-btn {
  padding: 15px 0px;
  background-color: #fff;
  border-radius: 100px;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  @include btn-transition;
  color: $pink;
  border: 2px solid #fff;
  letter-spacing: 0.5px;
  margin-top: 30px;
  display: inline-block;
  &:hover {
    color: #fff;
    background: transparent;
    text-decoration: none;
  }
}
.titles {
  .title-bg {
    background-image: asset-url('bg/title-bg-light.png');
    height: 200px;
    width: 200px;
    margin-bottom: -130px;
    mix-blend-mode: normal !important;
  }
  h3 {
    margin-bottom: 100px;
  }
}

.titles {
  float: none;
}
.page-title {
  .titles {
    .title-bg {
      background-image: asset-url('bg/title-bg.png');
    }
  }
  // background-color: $dark-pink;
  background: asset-url('bg/landing-bg-3-rotate.jpg') top center no-repeat;
  // background: asset-url('bg/services-bg-1.jpg') top center no-repeat;
  // background: #FFF;
  background-size: cover;
  text-align:center;
  padding: 130px 0 40px;
  h2, p, ul {
    color: #fff;
    margin: 0 auto;
  }
  ul {
    text-align: left;
  }
  h2 {
    font-size: 42px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    margin-top: 15px;
  }
}

.icon-check {
  height: 13px;
  margin-right: 15px;
}

.relative {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  svg {
    height: 25px;
    width: 30px;
    fill: #fff;
  }
}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  p {
    font-size: 18px;
  }
  .titles {
    h3 {
      font-size: 42px;
      letter-spacing: -1.5px !important;
    }
  }
  #preloader {
    img {
      left: 38%;
    }
  }
  .titles {
    h3 {
      margin-bottom: 100px;
      letter-spacing: 0px;
    }
    .title-bg {

    }
  }
  .close-icon {
    right: 20px;
    top: 20px;
    svg {
      height: 20px;
    }
  }
  .visitors .page-title {
    height: 300px;
    padding-top: 153px;
  }
}

@media screen and (max-width: 992px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .visible-sm {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .visible-xs {
    display: none;
  }
}
@media screen and (min-width: 300px) {
  .visible-xxs {
    display: none;
  }
}

@media screen and (max-width: 321px) {
  .recent-works .works-grid.spaced {
    .coddle__box__caption {
      padding-top: 25px;
    }
    .coddle__box__title {
      font-size: 24px;
    }
  }
  .private-item {
    .idea {
      margin-top: 10px;
    }
  }
}
