h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
}
h2 {
  font-size: 38px;
}
p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

.titles h3 {
  font-size: 45px;
  letter-spacing: 1px;
  color: $pink;
  -webkit-text-fill-color: initial;
}

p {
  font-size: 16px;
}

.alert {
  &.alert-success {
    background-color: $lightest-pink;
    border: none;
    text-align: center;
    color: #fff;
    top: 83px;
    line-height: 100%;
    padding: 20px 0;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;
  }
}
// .preloader {
//   // background: asset-url('bg/preloader-bg.jpg') center center no-repeat;
//   background-size: cover;
//   background-color: $pink;
//   .spinner {
//     .path {
//       stroke: #fff;
//     }
//   }
// }

#preloader, .transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#fff, $lightest-pink, $dark-pink);
    // background-color: $dark-pink;
    z-index: 999999;
    img {
      height: 90px;
      position: absolute;
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
      left: 46%;
      top: 44%;
    }
}
.transition-overlay {
  background: $pink;
}


.cta-btn {
  padding: 15px 0px;
  background-color: #fff;
  border-radius: 100px;
  min-width: 200px;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  @include btn-transition;
  color: $pink;
  border: 2px solid #fff;
  letter-spacing: 0.5px;
  margin-top: 30px;
  display: inline-block;
  &:hover {
    color: #fff;
    background: transparent;
    text-decoration: none;
  }
}
.titles {
  .title-bg {
    background-image: asset-url('bg/title-bg-light.png');
    height: 200px;
    width: 200px;
    margin-bottom: -130px;
    mix-blend-mode: normal !important;
  }
  h3 {
    margin-bottom: 70px;
  }
}

.page-title {
  // background-color: $dark-pink;
  background: asset-url('bg/landing-bg-3-rotate.jpg') top center no-repeat;
  background-size: cover;
  text-align:center;
  padding: 125px 0 50px;
  h2, p, ul {
    color: #fff;
    max-width: 685px;
    margin: 0 auto;
  }
  ul {
    text-align: left;
  }
  h2 {
    font-size: 42px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    margin-top: 15px;
  }
}

.icon-check {
  height: 13px;
  margin-right: 15px;
}

.relative {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  svg {
    height: 25px;
    width: 30px;
    fill: #fff;
  }
}
