.index {
  .header {
    // background-color:rgba(153, 0, 146, 0.5);
    background-color: transparent;
  }
}
.header {
  // height: auto;
  background-color: transparent;
  // background-color: $dark-pink;
}

.navbar {
  &:after {
    width: 100%;
    left: 0;
  }
  display: flex;
  .logo {
    a {
      img {
        height: 42px;
      }
    }
  }
  .navbar-nav {
    line-height: 45px;
    .nav-item {
      .nav-link {
        font-size: 15px;
        letter-spacing: 0.5px;
        &:hover {
          color: #fff;
          text-shadow: 1px 1px #000;
        }
      }
    }
  }
  a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}
  .custom-btn {
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.5px;
    float: none;
    display: inline-block;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid #fff;
    height: auto;
    line-height: 38px;
    margin-left: 15px;
    &:hover {
      background: #fff;
      color: $pink !important;
    }
  }
  &.stick-me {
    border-bottom: 1px dotted $lightest-pink;
    background: #fff;
    .navbar-nav {
        .nav-item {
          .nav-link {
            color: $pink;
            &:hover {
              color: black;
              text-shadow: none;
            }
          }
        }
      }
      .custom-btn {
        background: $pink;
        &:hover {
          color: #fff;
          background: black;
        }
      }
      .social-icons {
        i {
          color: black;
          text-shadow: none;
        }
      }
      .hamburger-menu span {
        background: $dark-pink;
      }
        svg path {
          fill: $dark-pink !important;
        }
  }
}

.social-icons {
  i {
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
    transition: margin-top 0.5s ease-in;
    text-shadow: 1px 1px 1px #000;
  }
}

//mobile nav
.hamburger-menu {
  span {
    &:nth-child(1) {
      width: 17px;
      right: 15px;
      top: 14px;
    }
    &:nth-child(2) {
      width: 27px;
      right: 10px;
    }
    &:nth-child(3) {
      width: 17px;
      right: 15px;
      top: 30px;
    }
  }
  &.open {
    span {
      &:nth-child(1), &:nth-child(3) {
        width: 24px;
        right: 10px;
      }
    }
  }
}

.hamburger-menu-box {
  background: asset-url('bg/person-far.jpg') bottom center no-repeat;
  .custom-btn {
    margin: 0;
    border-radius: 50px;
    padding: 0 40px;
    padding: 8px 28px;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  .social-icons {
    margin-top: 30px;
    display: inline-block;
    i {
      font-size: 25px;
      text-shadow: none;
      padding: 0 12px;
    }
    // position: absolute;
    // transform: translateX(-50%);
    // left: 50%;
    // bottom: 20px;
  }
}

.header.mobile {
    svg {
      height: 30px;
      width: 30px;
      margin-right: 5px;
      margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
  .header.show-me {
    .navbar.stick-me {
      background: transparent;
      border-bottom: none;
      .hamburger-menu span {
        background: #fff;
      }
      .logo-colored {
        display: none !important ;
      }
      .logo-light {
        display: block;
      }
      svg path {
        fill: #fff !important;
      }
    }
  }
  .navbar {
    // padding: 10px 20px;
    .custom-btn {
      padding: 0 25px;
      letter-spacing: 0px;
    }
    .logo {
      a {
        img {
          height: 38px;
        }
      }
    }
  }
  .hamburger-menu-box {
    padding-top: 80px;
    justify-content: start;
    .menu .navbar-nav {
      text-align: center;
      .nav-item .nav-link {
        font-size: 20px;
      }
    }
  }

}

@media screen and (max-width: 321px) {
  .contact-modal {
    .form-wrapper {
      h1 {
        font-size: 33px;
        margin-top: 45px;
      }
    }
  }
}
