.header {
  height: auto;
  background-color:rgba(195, 27, 210, 0.5);
  background-color:rgba(153, 0, 146, 0.5);
}

.navbar {
  &:after {
    width: 100%;
    left: 0;
  }
  display: flex;
  .logo {
    a {
      img {
        height: 42px;
      }
    }
  }
  .navbar-nav {
    line-height: 45px;
    .nav-item {
      .nav-link {
        font-size: 15px;
        letter-spacing: 0.5px;
        &:hover {
          color: #fff;
          text-shadow: 1px 1px #000;
        }
      }
    }
  }
  .custom-btn {
    color: $pink;
    letter-spacing: 0.5px;
    float: none;
    display: inline-block;
    transition: background 0.2s ease-out;
    border: 2px solid #fff;
    height: auto;
    line-height: 38px;
    margin-right: 15px;
    &:hover {
      background: $pink;
    }
  }
  &.stick-me {
    border-bottom: 1px dotted $lightest-pink;
    .navbar-nav {
        .nav-item {
          .nav-link {
            color: $pink;
            &:hover {
              color: black;
              text-shadow: none;
            }
          }
        }
      }
      .custom-btn {
        background: $pink;
        &:hover {
          background: black;
        }
      }
      .social-icons {
        i {
          color: black;
        }
      }
  }
}

.social-icons {
  i {
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
    transition: margin-top 0.5s ease-in;
    &:hover {
      // margin-top: -5px;
    }
  }
}
