.portfolio-item {
  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.75);
    left: 0;
    z-index: 99999;
    padding: 50px 0;
    img {
      // max-height: 700px;
    }
    h1, p {
      color: #fff;
    }
    .text-side {
      background-color:rgba(153, 0, 146, 0.5);
      // background-color: $dark-pink;
      padding: 20px;
      height: 100%;
    }
    #project-title {
      font-size: 28px;
      font-weight: bold;
    }
    #project-description {
      color: #fff;
    }
    .close-icon {
      position: absolute;
      top: -35px;
      right: 20px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        color: $pink;
      }
    }
}
