.portfolio-item {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.9);
    left: 0;
    z-index: 99999;
    padding: 25px 0;
    overflow: auto;
    .text-box, .title {
      border: 1px solid $lightest-pink;
      &.no-border-bottom {
        border-bottom: none;
      }
      &.no-border-right {
        border-right: none;
      }
      &.no-border-left {
        border-left: none;
      }
      &.no-border-top {
        border-top: none;
      }
      &.margin-top {
        margin-top: 40px;
      }
      &.dark {
        // background-color:rgba(0, 0, 0, 0.1);
        background:none;
      }
      // background-color:rgba(0,0,0, 0.3);
      // background-color:rgba(153, 0, 146, 0.6);
      padding: 15px;
      p {
        margin-bottom: 0;
      }
    }
    .icon-shadow {
      text-shadow: 0px -3px 15px $lightest-pink;
    }
    .text-box {
      min-height: 475px;
      img {
        margin: 10px auto 0 auto;
        display: block;
        max-width: 75px;
      }
    }
    h1, h3 {
      text-shadow: 0px 0px 8px $dark-pink;
    }
    h3 {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 32px;
      margin-bottom: 25px;
      margin-top: 15px;
    }
    .far, .fas, .icon {
      text-shadow: 0px -2px 5px $lightest-pink;
      text-align: center;
      vertical-align: top;
      font-size: 42px;
      color: #fff;
      margin: 20px auto;
      display: block;
    }
    .icon {
      height: 100px;
    }
    .portfolio-images {
      margin-top: 40px;
      height: 500px;
      // border: 1px solid $lightest-pink;
      // margin-top: 30px;
      img {
        // margin: 0 auto;
        width: auto;
        height: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // box-shadow: 0 0px 25px 0px #cccccc96;

      }
      .slick-arrow {

        &.prev {
          // left: -6%;
        }
        &.next {
          // right: -34px;
        }
      }

    }
      .slick-list, .slick-track {
        height: 100%;
      }
    .img-wrap {
      position: relative;
      height: 100%;
    }
    h1, p, li, ol {
      color: #fff;
    }

    .iframe-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      iframe {
        width: 90%;
        // max-height: 550px;
        // width: 51vw;
        height: 28vw;
      }
    }

    .text-side {
      background-color:rgba(153, 0, 146, 0.5);
      // background-color: $dark-pink;
      padding: 20px;
      overflow-y: auto;
    }
    #project-title {
      font-size: 34px;
      font-weight: bold;
    }
    #project-description {
      color: #fff;
    }
}

.coddle__box__figure {
  cursor: pointer;
}
