.testimonials {
  padding: 30px 0;
  height: 625px;
  background: asset-url('bg/person-far.jpg') center center no-repeat;
  background-size: cover;
  .titles {
    float: none;
    .title-bg {
      background-image: asset-url('bg/title-bg.png');
    }
    h3 {
      color: #fff;
    }
  }
  .testimonials-carousel {
    // height: 300px;
    margin-top: -50px;
  }
  .item {
    position: relative;
    height: 385px;
    // width: 800px;
    .quote {
      padding: 0 20px;
      background: transparent;
      color: #fff;
      text-align: center;
      width: 825px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      // -webkit-box-shadow: 0px 10px 68px -8px rgba(0,0,0,0.75);
      // -moz-box-shadow: 0px 10px 68px -8px rgba(0,0,0,0.75);
      // box-shadow: 0px 10px 68px -8px rgba(0,0,0,0.75);
      p {
        font-size: 22px !important;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.4px;
      }
      p.author {
        font-size: 18px !important;
        text-transform: uppercase;
        margin-top: 35px;
      }
      &:after, &:before {
        font-weight: normal;
        position: absolute;
        color: #fff;
        font-size: 250px;
        color: #fff;
        top: -80px;
      }
      &:after {
        content: "\201D";
        right: -100px;
      }
      &:before {
        content: "\201C";
        left: -100px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .testimonials {
    min-height: 900px;
    .testimonials-carousel {
      margin-top: 60px;
    }
    .slick-arrow {
      display: none !important;
    }
    .item {
      height: auto;
      .quote {
          position: relative;
          transform: none;
          margin-top: 0px;
          width: 70%;
          left: 0;
          top: 0;
          padding: 0 10px;
          margin: 0 auto;
          &:after, &:before {
            font-size: 135px;
            top: 0;
          }
          &:before {
            left: -16%;
          }
          &:after {
            right: -16%;
          }
          p, p.author {
            font-size: 18px !important;
          }
      }
    }
    .slick-dots {
      bottom: -39px;
    }
  }
}
