
<!-- end quote-bar -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= image_tag 'logos/ideaison-logo-black.png', class: 'logo', alt: "Ideaison logo" %>
        <p>Interactive digital experiences are continually becoming more amazing and more complex to produce.<br>
          Our team is specially designed to create successful, custom, inn</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/ideaison.co/" target="_blank" class="hvr-float"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-instagram"></i></a>
          </div>
        <small>© <%= Time.current.year %> Ideaison | All Rights Reserved.</small> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->
