
<!-- end quote-bar -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= image_tag 'logos/ideaison-logo-grey.png', class: 'logo', alt: "Ideaison logo" %>
        <p>We operate like a creative SWAT team, sharing the successes and obstacles in helping you achieve your goals. <br class="hidden-xs" />Literally, your new BFFs.</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/ideaison.co/" target="_blank" class="hvr-float"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-instagram"></i></a>
          </div>
        <small>© <%= Time.current.year %> Ideaison | All Rights Reserved.</small> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->
