<aside class="hamburger-menu-box visible-xs">
 <div class="menu">
 	<ul class="navbar-nav">
      <%= render 'shared/nav_links' %>
  </ul>
    <!-- end navbar-nav -->
 </div>
 <!--end menu -->
  <!-- end inner -->
</aside>

<header class="header mobile visible-xs">
  <nav class="navbar">
    <div class="logo"> <a href="/" class="transition">
      <%= image_tag 'logos/ideaison-logo-white-1.png', class: 'logo-light' %>
      <%= image_tag 'logos/ideaison-logo-black.png', class: 'logo-colored' %>
      </a>
    </div>
    <!-- end logo -->
    <!-- <a href="#" class="custom-btn launch-contact-modal">CONTACT</a> -->

    <div class="hamburger-menu"> <span></span> <span></span> <span></span></div>
    <!-- hamburger-menu -->

  </nav>
  <!-- end navbar -->
</header>
