<!--end search-box -->
<header class="header desktop hidden-xs">
  <nav class="navbar">
    <div class="logo">
      <a href="/" class="transition">
      <%= image_tag 'logos/ideaison-logo-white-1.png', class: 'logo-light' %>
      <%= image_tag 'logos/ideaison-logo-black.png', class: 'logo-colored' %>
      </a>
    </div>
    <!-- end logo -->
    <!-- <div class="hamburger-menu"> <span></span> <span></span> <span></span></div> -->
    <!-- hamburger-menu -->
    <!-- <div class="search-btn"></div> -->
    <!-- end search-btn -->
    <ul class="navbar-nav">
      <%= render 'shared/nav_links' %>
        <!-- <ul>
          <li><a href="works-spaced-grid.html" class="transition">SPACED GRID</a></li>
          <li><a href="works-nonspaced-grid.html" class="transition">NONSPACED GRID</a></li>
          <li><a href="works-masonry-grid.html" class="transition">MASONRY GRID</a></li>
          <li><a href="works-retro-grid.html" class="transition">RETRO GRID</a></li>
        </ul> -->
      <!-- <li class="nav-item"><a href="#" class="nav-link transition">BLOG</a></li> -->
    </ul>

    <!-- end navbar-nav -->
    <div class="social-icons hidden-xs">
      <a href="https://www.facebook.com/ideaison.co/" target="_blank" class="hvr-float"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com/company/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-instagram"></i></a>
      <a class="custom-btn launch-contact-modal">CONTACT</a>
    </div>

  </nav>

  <!-- end navbar -->
</header>
