<li class="nav-item"><a href="/about" class="nav-link transition">WHO WE ARE</a></li>
<li class="nav-item"><a href="/what-we-do" class="nav-link transition">WHAT WE DO</a></li>
<li class="nav-item"><a href="/our-work" class="nav-link">OUR WORK</a></li>
<!-- <li class="nav-item visible-xs"><a class="nav-link launch-contact-modal">CONTACT US</a></li> -->
