<div class="portfolio-item" style="display: none;">
  <div class="content">

  <div class="container relative">
    <div class="title dark no-border-bottom">
      <h1 id="project-title">Some text here</h1>
      <div id="project-description">
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="portfolio-images">
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="text-box margin-top no-border-left">
          <%= image_tag 'icons/ideas-md.png' %>
            <h3>
            Ideas</h3>
            <div id="ideas">
            </div>

        </div>
      </div>
        <div class="col-md-6 col-lg-4">
          <div class="text-box">
            <%= image_tag 'icons/people.png' %>
              <h3>
              People</h3>
              <div id="people">
              </div>
          </div>
        </div>


      <div class="col-md-6 col-lg-4">
        <div class="text-box">
          <%= image_tag 'icons/three-things.png' %>
          <h3>3 things we’re <br />especially proud of</h3>
          <div id="three-things">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="text-box">
          <%= image_tag 'icons/cherry.png' %>
          <h3>Cherry on top</h3>
          <div id="cherry">
          </div>
        </div>
      </div>


    </div>
      <!-- <div class="col-5">
        <div class="text-side">
          <h2 id="item-subtitle"></h2>
          <div id="project-description">
          </div>
        </div>
      </div> -->
  </div>
  <span class="portfolio close-icon">
    <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <g>
    	<g>

    			<rect x="-83.195" y="233.157" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 256.0027 618.0343)" width="678.39" height="45.681"/>
    	</g>
    	<g>

    			<rect x="233.157" y="-83.199" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 256.0016 618.0309)" width="45.681" height="678.391"/>
    	</g>
    </g>
    </svg>
  </span>
</div>

</div>
