<div class="portfolio-item" style="display: none;">
  <div class="container relative">
    <div class="row">
      <div class="col-7">
        <div class="portfolio-images">
        </div>
      </div>
      <div class="col-5">
        <div class="text-side">
          <h1 id="project-title">Some text here</h1>
          <!-- <h2 id="item-subtitle"></h2> -->
          <div id="project-description">
          </div>
        </div>
      </div>
    </div>
    <span class="close-icon">CLOSE</span>
  </div>
</div>
