<div class="portfolio-item" style="display: none;">
  <div class="content">

  <div class="container relative">
    <div class="title dark no-border-bottom">
      <h1 id="project-title">Some text here</h1>
      <p>
        Working closely with 1906 New Highs, we created an authentic Moroccan themed lounge and partnered with Tom Marshall, the lyricist of over 300+ Phish songs. The refuge from the chaos of the lot was a hit, with 1906 phans a plenty.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="portfolio-images">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-box">
          <i class="far fa-lightbulb"></i>
            <h3>
            Ideas</h3>
          <ul>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="text-box">
            <i class="fas fa-users"></i>
              <h3>
              People</h3>
            <ul>
              <li>
                Ideaison- Strategy and Creative for Program via LL
                </li>
              <li>
                Ideaison- Strategy and Creative for Program via LL
                </li>
              <li>
                Ideaison- Strategy and Creative for Program via LL
                </li>
              <li>
                Ideaison- Strategy and Creative for Program via LL
                </li>
              <li>
                Ideaison- Strategy and Creative for Program via LL
                </li>
              </ul>
          </div>
        </div>

      <div class="col-md-4">
        <div class="text-box">
          <i class="far fa-smile"></i>
          <h3>3 things we’re <br />especially proud of</h3>
          <ul>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
            <li>
              Sought to tell unique stories about the EF experience that weren’t told directly from the brand channels.
              </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-box">
          <i class="fas fa-apple-alt"></i>
          <h3>Cherry on top</h3>
          <p>
            The nature of the viral video tapped into a festival microtrend. Totems are a significant part of festival culture, those who go to festivals feel connected to the community as they can relate. All are used to seeing outlandish/hilarious totems— it didn’t feel contrived.
            </p>
        </div>
      </div>


    </div>
      <!-- <div class="col-5">
        <div class="text-side">
          <h2 id="item-subtitle"></h2>
          <div id="project-description">
          </div>
        </div>
      </div> -->
  </div>
  <span class="close-icon">
    <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <g>
    	<g>

    			<rect x="-83.195" y="233.157" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 256.0027 618.0343)" width="678.39" height="45.681"/>
    	</g>
    	<g>

    			<rect x="233.157" y="-83.199" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 256.0016 618.0309)" width="45.681" height="678.391"/>
    	</g>
    </g>
    </svg>
  </span>
</div>

</div>
