<% @services.order(:placement).each do |service| %>
<div class="col-lg-4 col-sm-12">
  <div class="feature-box">
    <figure>
      <%= image_tag ('icons/imac.png') %>
    </figure>
    <span></span>
    <h5><%= service.title %></h5>
      <%= service.subtitle.try(&:html_safe) %>
      <div class="expand-text">
      <br />
      <%= service.description.try(&:html_safe) %>
    </div>

    <a href="#" class="more-link">+</a> </div>
  <!-- end feature-box -->
</div>
<% end %>
