<div class="col-lg-4 col-sm-12">
  <div class="feature-box">
    <figure>
      <%= image_tag ('icons/imac.png') %>
    </figure>
    <span></span>
    <h5>Festivals and events</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
    <ul>
      <li><a href="#">Web Design</a></li>
      <li><a href="#">Development</a></li>
      <li><a href="#">User Experience</a></li>
      <li><a href="#">Digital Ads</a></li>
    </ul>
    <a href="#" class="more-link">+</a> </div>
  <!-- end feature-box -->
</div>
<!-- end col-3 -->
<div class="col-lg-4 col-md-6">
  <div class="feature-box">
    <figure>
      <%= image_tag ('icons/circles.png') %>
    </figure>
    <span></span>
    <h5>Sites and social content</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
    <ul>
      <li><a href="#">Web Design</a></li>
      <li><a href="#">Development</a></li>
      <li><a href="#">User Experience</a></li>
      <li><a href="#">Digital Ads</a></li>
    </ul>
    <a href="#" class="more-link">+</a> </div>
  <!-- end feature-box -->
</div>
<!-- end col-3 -->
<div class="col-lg-4 col-md-6">
  <div class="feature-box">
    <figure>
      <%= image_tag ('icons/rocket.png') %>
    </figure>
    <span></span>
    <h5>Experiential marketing (Fancy, huh?)</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
    <ul>
      <li><a href="#">Web Design</a></li>
      <li><a href="#">Development</a></li>
      <li><a href="#">User Experience</a></li>
      <li><a href="#">Digital Ads</a></li>
    </ul>
    <a href="#" class="more-link">+</a> </div>
  <!-- end feature-box -->
</div>
