<section class="testimonials">
  <div class="titles"> <span class="title-bg"></span>
    <h3>TESTIMONIALS</h3>
  </div>
  <div class="testimonials-carousel">
    <% @testimonials.order(:placement).each do |testimonial| %>
      <div class="item">
        <div class="quote">
            <%= testimonial.quote.html_safe %>
          <p class="author"><%= testimonial.author %></p>
        </div>
      </div>
      <% end %>

  </div>
</section>
