<section class="quote-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>LET'S WORK TOGETHER ?</h4>
        <p>If you’re shuddering and thinking “Is this as good as it gets?” and wouldn’t even consider staying in the same job, company, or industry for the next decade, you’re not alone.</p>
        <a href="#" class="idea-btn">GET IN TOUCH</a>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end quote-bar -->
