<section class="quote-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>Started from the bottom, now our whole team here.</h4>
        <p>Help us tell our story.</p>
        <a class="idea-btn launch-contact-modal">GROW WITH US</a>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end quote-bar -->
