<section class="quote-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>Started from the bottom, now our whole team here.</h4>
        <p>We just want the credit for where it's due. Hit us up. We'll play nicely with others, we promise. </p>
        <a class="idea-btn launch-contact-modal">GET IN TOUCH</a>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end quote-bar -->
