<section class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <figure><img src="images/contact-icon01.png" alt="Image"></figure>
        <h4>E-MAILS</h4>
        <address>
        info@coddle.com.br
        </address>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure><img src="images/contact-icon02.png" alt="Image"></figure>
        <h4>PHONES</h4>
        <address>
        +380 (98) 294 80 86
        </address>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure><img src="images/contact-icon03.png" alt="Image"></figure>
        <h4>SUPPORT</h4>
        <address>
        Mon to Fri 09:00h to 18:00h
        </address>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure><img src="images/contact-icon04.png" alt="Image"></figure>
        <h4>LOCATION</h4>
        <address>
        Ring Central 796 A/3, Chicago
        </address>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end quote-bar -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="images/logo-light.png" alt="Image" class="logo">
        <p>Interactive digital experiences are continually becoming more amazing and more complex to produce.<br>
          Our team is specially designed to create successful, custom, inn</p>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Behance</a></li>
          <li><a href="#">Dribbble</a></li>
        </ul>
        <small>© 2018 Coddle | All Rights Reserved.</small> </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer --> 
