<div class="page-title">
  <h2>OUR MUSINGS</h2>
</div>
<!-- <section class="page-info">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /><br /> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section> -->

<div class="container blog-grid">
  <div class="row">
    <% @posts.each do |post| %>
      <%= render :partial => 'post', :locals => {:post => post} %>
    <% end %>
  </div>
</div>


<!-- Pagination links -->
<div>
  <% if @previous_page %>
    <%= link_to "Prev", buttercms_blog_path(:page => @previous_page) %>
  <% end %>

  <% if @next_page %>
    <%= link_to "Next", buttercms_blog_path(:page => @next_page) %>
  <% end %>
</div>
