<aside class="hamburger-menu-box">
 <div class="menu">
 	<ul class="navbar-nav">
      <li class="nav-item"><a href="index.html" class="nav-link transition">HOME</a></li>
      <li class="nav-item"><a href="coddle.html" class="nav-link transition">CODDLE</a></li>
      <li class="nav-item"><a href="services.html" class="nav-link transition">SERVICES</a></li>
      <li class="nav-item"><a href="#" class="nav-link">WORKS</a>
        <ul>
          <li><a href="works-spaced-grid.html" class="transition">SPACED GRID</a></li>
          <li><a href="works-nonspaced-grid.html" class="transition">NONSPACED GRID</a></li>
          <li><a href="works-masonry-grid.html" class="transition">MASONRY GRID</a></li>
          <li><a href="works-retro-grid.html" class="transition">RETRO GRID</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="news.html" class="nav-link transition">NEWS</a></li>
      <li class="nav-item"><a href="contact.html" class="nav-link transition">CONTACT</a></li>
    </ul>
    <!-- end navbar-nav -->
 </div>
 <!--end menu -->
  <div class="inner">
    <p class="lead">Contact form here</p>
    <a href="#" class="ghost-btn">
    <svg>
      <defs>
        <linearGradient>
          <stop offset="0%" stop-color="#FF8282"/>
          <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
      </defs>
      <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="#ffffff"></rect>
    </svg>
    <span>Work With Us</span> </a> </div>
  <!-- end inner -->
</aside>
<!-- end hamburger-menu-box -->
<div class="search-box">
  <div class="inner">
    <h4>CODDLE SEARCH</h4>
    <form>
      <input type="text" placeholder="Type here to make search">
      <button type="submit"><img src="images/search-icon.svg" alt="Image"></button>
    </form>
  </div>
  <!-- end inner -->
</div>
<!--end search-box -->
<header class="header">
  <nav class="navbar">
    <div class="logo">
      <a href="/" class="transition">
      <%= image_tag 'logos/ideaison-logo-white-1.png', class: 'logo-light' %>
      <%= image_tag 'logos/ideaison-logo-black.png', class: 'logo-colored' %>
      </a>
    </div>
    <!-- end logo -->
    <!-- <div class="hamburger-menu"> <span></span> <span></span> <span></span></div> -->
    <!-- hamburger-menu -->
    <!-- <div class="search-btn"></div> -->
    <!-- end search-btn -->
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link transition">ABOUT</a></li>
      <li class="nav-item"><a href="#" class="nav-link transition">SERVICES</a></li>
      <li class="nav-item"><a href="#" class="nav-link">WORKS</a>
        <!-- <ul>
          <li><a href="works-spaced-grid.html" class="transition">SPACED GRID</a></li>
          <li><a href="works-nonspaced-grid.html" class="transition">NONSPACED GRID</a></li>
          <li><a href="works-masonry-grid.html" class="transition">MASONRY GRID</a></li>
          <li><a href="works-retro-grid.html" class="transition">RETRO GRID</a></li>
        </ul> -->
      </li>
      <li class="nav-item"><a href="#" class="nav-link transition">BLOG</a></li>
    </ul>

    <!-- end navbar-nav -->
    <div class="social-icons">
      <a href="#" id="launch-contact-modal" class="custom-btn">CONTACT</a>
      <a href="https://www.facebook.com/ideaison.co/" target="_blank" class="hvr-float"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com/company/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/ideaison/" target="_blank" class="hvr-float"><i class="fab fa-instagram"></i></a>
    </div>
  </nav>
  <!-- end navbar -->
</header>
